
// Fonts
@import url("https://fonts.googleapis.com/css?family=Heebo:300,500");

// Variables
@import "variables";
@import "fullpage";
// Bootstrap
@import "~bootstrap-sass/assets/stylesheets/bootstrap";

body, html {
  height: 100%;
  font-weight: 300;
}

// Headings
h1,h2,h3,h4,h5,h6
{
  font-size: 2em;
  font-weight: 300;
}

h2 {
  font-size: 1.6em;
}


// Navbar
.navbar-default {
  height: 75px;
}
.navbar-inverse {
  top: 75px;
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
  border-color: transparent;
}
.navbar-brand {
  margin: 20px 0;
  padding: 0 15px;
  @media (min-width: $grid-float-breakpoint) {
    .navbar > .container &,
    .navbar > .container-fluid & {
      margin-left: 0;
    }
  }
  .logo {
    width: 200px;
  }
}

.dropdown-menu>li>a {
  font-weight: 300;
}

#navbar .container {
  -webkit-animation: fadein 1s;
  -moz-animation: fadein 1s;
  -ms-animation: fadein 1s;
  -o-animation: fadein 1s;
  animation: fadein 1s
}


.navbar-toggle {
  margin-top: 20px;

  .medium {
    width: 16px;
    margin-left: 6px;
  }
  .small {
    width: 10px;
    margin-left: 12px;
  }
}

// Content
.content {
  margin-top: 80px;
  -webkit-animation: fadein 1s;
  -moz-animation: fadein 1s;
  -ms-animation: fadein 1s;
  -o-animation: fadein 1s;
  animation: fadein 1s;
  font-weight: 300;
  padding-bottom: 30px;

  .title {
    font-size: 1.1em;
  }
}

@media (min-width: $grid-float-breakpoint) {
  .content {
    margin-top: 150px;
  }
}

.selector {
  text-align: right;
  margin: 15px 0;
}
.label,
.badge,
.btn-lg {
  font-weight: 300;
}
#back-to-top {
  display: none;
  position: fixed;
  bottom: 10px;
  right: 10px;
  z-index: 99;
  outline: none;
  background-color: $status-merged-color;
  color: #fff;
  border: 0;
  font-size: 0.8em;
  font-weight: 300;
  padding: 10px 10px;
}

// Animations
@keyframes  fadein {
  from {
    opacity: 0
  }
  to {
    opacity: 1
  }
}

@-moz-keyframes fadein {
  from {
    opacity: 0
  }
  to {
    opacity: 1
  }
}

@-webkit-keyframes fadein {
  from {
    opacity: 0
  }
  to {
    opacity: 1
  }
}

@-ms-keyframes fadein {
  from {
    opacity: 0
  }
  to {
    opacity: 1
  }
}

@-o-keyframes fadein {
  from {
    opacity: 0
  }
  to {
    opacity: 1
  }
}
#fullpage,
.repositories,
.content {
  .merged {
    background-color: $status-merged-color;
    &-light {
      background-color: lighten($status-merged-color, 20);
    }
  }
  .created {
    background-color: $status-created-color;
    &-light {
      background-color: lighten($status-created-color, 20);
    }
  }
  .closed {
    background-color: $status-closed-color;
    &-light {
      background-color: lighten($status-closed-color, 20);
    }
  }
  .rejected {
    background-color: $status-rejected-color;
    &-light {
      background-color: lighten($status-rejected-color, 20);
    }
  }
}
.contributors {
  margin-top: 20px;
  .panel {
    min-height: 275px;
  }
  img {
    width: 100%;
  }
  .center {
    text-align: center;
    display: block;
    margin: 10px 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  ul, li {
    list-style-type: none;
    margin: 0;
    padding: 0;
    .right {
      float: right;
    }
  }
}

#fullpage {
  text-align: center;

  .section-content {
    padding: 0 10%;
  }

  h2 {
    text-transform: uppercase;
    font-size: 3em;
    font-weight: 500;
  }

  p {
    font-size: 1.6em;
  }

  .chart {
    height: 600px;
  }
  .contributors {
    padding: 0 40%;
  }

  .second,
  .error {
    background-color: $status-merged-color;
    color: #fff;
  }
}

@media (min-width: $grid-float-breakpoint) {
  #fullpage {
    h2 {
      font-size: 5em;
      font-weight: 500;
    }
    p {
      font-size: 2.3em;
    }
  }
}