
// Fonts
@import url("https://fonts.googleapis.com/css?family=Heebo:300,500");

// Variables
@import "variables";
// Bootstrap
@import "~bootstrap-sass/assets/stylesheets/bootstrap";

body, html {
  height: 100%;
}

// Headings
h1,h2,h3,h4,h5,h6
{
  font-size: 2em;
  font-weight: 300;
}

h2 {
  font-size: 1.6em;
}

// Navbar
.navbar-default {
  height: 75px;
}
.navbar-inverse {
  top: 75px;
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
  border-color: transparent;
}
.navbar-brand {
  margin: 20px 0;
  padding: 0 15px;
  @media (min-width: $grid-float-breakpoint) {
    .navbar > .container &,
    .navbar > .container-fluid & {
      margin-left: 0;
    }
  }
  .logo {
    width: 200px;
  }
}

#navbar .container {
  -webkit-animation: fadein 1s;
  -moz-animation: fadein 1s;
  -ms-animation: fadein 1s;
  -o-animation: fadein 1s;
  animation: fadein 1s
}


.navbar-toggle {
  margin-top: 20px;

  .medium {
    width: 16px;
    margin-left: 6px;
  }
  .small {
    width: 10px;
    margin-left: 12px;
  }
}

// Content
.content {
  margin-top: 80px;
  -webkit-animation: fadein 1s;
  -moz-animation: fadein 1s;
  -ms-animation: fadein 1s;
  -o-animation: fadein 1s;
  animation: fadein 1s;
  font-weight: 300;
}

@media (min-width: $grid-float-breakpoint) {
  .content {
    margin-top: 150px;
  }
}

.selector {
  text-align: right;
  margin: 15px 0;
}

// Animations
@keyframes  fadein {
  from {
    opacity: 0
  }
  to {
    opacity: 1
  }
}

@-moz-keyframes fadein {
  from {
    opacity: 0
  }
  to {
    opacity: 1
  }
}

@-webkit-keyframes fadein {
  from {
    opacity: 0
  }
  to {
    opacity: 1
  }
}

@-ms-keyframes fadein {
  from {
    opacity: 0
  }
  to {
    opacity: 1
  }
}

@-o-keyframes fadein {
  from {
    opacity: 0
  }
  to {
    opacity: 1
  }
}

// Fullpage

.fullpage {
  height: 100%;
  .section {
    height: 100%;
    padding: 10% 5%;
    h2 {
      text-align: center;
      font-size: 1.3em;
      line-height: 2em;
    }
    &.first {
      margin-top: 50px;
    }
    &.second {
      background: #eee;
    }
    .small {
      font-weight: 300;
      text-align: right;
    }
  }
}

@media (min-width: $grid-float-breakpoint) {
  .fullpage {
    height: 100%;
    .section {
      height: 100%;
      padding: 10% 5%;
      h2 {
        text-align: center;
        font-size: 2em;
        line-height: 2em;
        text-transform: uppercase;
      }
      &.first {
        margin-top: 50px;
      }
      &.second {
        background: #eee;
      }
      .small {
        font-weight: 300;
        text-align: right;
      }
    }
  }
}